html,
body {
    margin: 0px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #000000;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    height: 100%;
}

.row {
    height: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#left-column {
    background-color: #f07070;
}

#right-column {
    background-color: #7070F0;
}

.center-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.score-number {
    font-size: 20vw;
    color: #FFFFFF;
}


.score-minus-buttons {
    position: absolute;
    bottom: 0%;
    width: 10vw;
    height: 10vw;
    text-align: center;
    color: #FFFFFF;
    font-size: 8vw;
}

.score-minus-buttons div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#left-minus {
    left: 0%;
    border-top-right-radius: 30%;
}

#right-minus {
    right: 0%;
    border-top-left-radius: 30%;
}

#reset-button{
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    bottom: 0%;
    height: 10vw;
    width: 20vw;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5vw;
    color: #FFFFFF;
}
#reset-button div{
    width: 100%;
}


.top-left-corner-button {
    width: 10vw;
    height: 10vw;
    right: 0%;
    border-bottom-left-radius: 30%;
}

.icon {
    display: block;
    padding: 10%;
    height: 100%;
    margin: auto;
}

#settings-icon {
    fill: white;
}

.settings-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #999999DD;
}
#settings-panel{

}

#settings-cross {
    fill: white;
}


.button:hover {
    background-color: #B0B0B0;
}

.button:active {
    background-color: #A0A0A0;
}

.button {
    position: absolute;
    background-color: #BBBBBB;
}
.button:hover{
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }